%h1
  = @department.name
  = link_to "Edit", edit_hospital_department_path(@department.hospital, @department), class: "btn btn-info btn-small"

%h2
  Subdivisions

%ul
  - @department.subdivisions.each do |subdivision|
    %li
      = link_to subdivision.name, department_subdivision_path(@department, subdivision)

= link_to "Add subdivision", new_department_subdivision_path(@department), class: "btn btn-primary btn-small"

= link_to "Back", hospital_path(@department.hospital), class: "btn btn-primary btn-small"

= link_to "Add assignment", "#", class: "btn btn-primary btn-small"